<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Os Chapeus de Palha</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    <body>

        <div id="app">
            <div class="text-center">
                <img src="img/wallpaper.jpg" class="imagem" alt="a tripulaçao do chapeu de palha"
                    style="height: 80vh;width: 80%;">
            </div>
            <div class="card container text-center mt-3" style="width: 80%;">
                <h2>A História de "One Piece": Em Busca do One Piece e Além</h2>

                <p>"One Piece" é uma série de anime e manga criada por Eiichiro Oda que se tornou um dos títulos mais
                    icônicos e duradouros do gênero. A história segue as aventuras dos Piratas do Chapéu de Palha
                    enquanto eles navegam pelo Grande Mar em busca do lendário tesouro conhecido como o "One Piece".
                    Abaixo, destacamos os principais elementos dessa cativante narrativa:</p>

                <h3>Monkey D. Luffy e a Busca pelo One Piece</h3>
                <p>O protagonista da série, Monkey D. Luffy, sonha em se tornar o Rei dos Piratas e está determinado a
                    encontrar o "One Piece", um tesouro incrivelmente valioso que supostamente concederá esse título a
                    quem o encontrar. Luffy é um herói carismático com a habilidade de esticar seu corpo como borracha,
                    graças ao poder da Gomu Gomu no Mi, uma das misteriosas "Frutas do Diabo".</p>

                <h3>A Tripulação dos Piratas do Chapéu de Palha</h3>
                <p>Luffy não está sozinho em sua jornada. Ele é o capitão dos Piratas do Chapéu de Palha, uma tripulação
                    diversificada composta por membros únicos, cada um com suas próprias habilidades e história de
                    fundo. Juntos, enfrentam desafios incríveis, exploram ilhas misteriosas e enfrentam inimigos
                    poderosos.</p>

                <h3>Inimigos Formidáveis e Desafios Épicos</h3>
                <p>A busca pelo "One Piece" leva os Piratas do Chapéu de Palha a encontros com inúmeros inimigos
                    poderosos, incluindo piratas rivais, membros da Marinha Mundial, Yonkou (os quatro piratas mais
                    poderosos do mundo) e figuras lendárias. Cada confronto apresenta novos desafios e oportunidades de
                    crescimento para a tripulação.</p>

                <h3>Desenvolvimento de Habilidades e Crescimento</h3>
                <p>Ao longo de sua jornada, cada membro da tripulação desenvolve habilidades únicas e cresce como
                    indivíduos. Eles aprendem sobre amizade, lealdade e coragem à medida que enfrentam obstáculos e
                    superam adversidades.</p>

                <h3>Os Mistérios do Mundo</h3>
                <p>A história de "One Piece" também envolve a busca por respostas para os mistérios do mundo. Os
                    Poneglyphs, pedras inscritas antigas, contêm informações cruciais sobre a história mundial, e
                    decifrá-los se torna parte fundamental da narrativa.</p>

                <h3>Uma Jornada Inesquecível</h3>
                <p>A narrativa de "One Piece" é repleta de emoção, humor, ação e aventura. Ao longo dos anos, a série
                    conquistou milhões de fãs em todo o mundo, tornando-se uma das mais queridas na cultura pop. A busca
                    de Luffy e sua tripulação pelo "One Piece" continua a emocionar e surpreender, tornando "One Piece"
                    uma das histórias mais duradouras e cativantes da história do anime e do manga.</p>

            </div>
            <div class="container mt-2 responsive-container">
                <p class="btn btn-primary" @mouseover="personagemSelecionado(luffy)">Monkey D. Luffy</p>
                <p class="btn btn-primary" @mouseover="personagemSelecionado(zoro)">Roronoa Zoro</p>
                <p class="btn btn-primary" @mouseover="personagemSelecionado(nami)">Nami</p>
                <p class="btn btn-primary" @mouseover="personagemSelecionado(usopp)">Usopp</p>
                <p class="btn btn-primary" @mouseover="personagemSelecionado(sanji)">Sanji</p>
                <p class="btn btn-primary" @mouseover="personagemSelecionado(chopper)">Tony Tony Chopper</p>
                <p class="btn btn-primary" @mouseover="personagemSelecionado(robin)">Nico Robin</p>
                <p class="btn btn-primary" @mouseover="personagemSelecionado(franky)">Franky</p>
                <p class="btn btn-primary" @mouseover="personagemSelecionado(brook)">Brook</p>
                <p class="btn btn-primary" @mouseover="personagemSelecionado(jinbei)">Jinbei</p>
            </div>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-6">
                        <img :src="'img/'+personagem + '.png'" :alt="personagem" class="img-fluid mt-5 photo">
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <div v-if="personagem == 'Luffy'" class="card-custom p-5 text-center">
                            <h2>Monkey D. Luffy: O Aventureiro Determinado de One Piece</h2>

                            <p>Monkey D. Luffy é um dos personagens mais icônicos do mundo do anime e manga,
                                protagonizando a série de sucesso "One Piece" criada por Eiichiro Oda. Com uma
                                personalidade cativante e uma busca épica, Luffy é um herói amado por fãs de todas as
                                idades. Abaixo, destacamos os principais aspectos desse personagem inesquecível:</p>

                            <h3>O Poder da Gomu Gomu no Mi:</h3>
                            <p>Luffy ganhou sua habilidade única ao comer a Gomu Gomu no Mi, uma das misteriosas "Frutas
                                do Diabo". Isso lhe deu a capacidade de esticar seu corpo como uma borracha, tornando-se
                                o "Luffy do Punho de Borracha".</p>

                            <h3>Uma Personalidade Corajosa e Generosa:</h3>
                            <p>Luffy é conhecido por sua coragem inabalável, determinação inquebrável e generosidade sem
                                limites. Sua personalidade é enérgica, otimista e leal aos amigos.</p>

                            <h3>A Tripulação dos Piratas do Chapéu de Palha:</h3>
                            <p>Luffy é o capitão dos Piratas do Chapéu de Palha, uma tripulação diversificada composta
                                por membros únicos, cada um com suas próprias habilidades e história de fundo. Juntos,
                                eles enfrentam desafios incríveis em sua busca pelo One Piece.</p>

                            <h3>Em Busca do Tesouro Final:</h3>
                            <p>O maior sonho de Luffy é encontrar o lendário tesouro conhecido como "One Piece", que o
                                coroaria como o Rei dos Piratas. Sua determinação nesse objetivo é inabalável, levando-o
                                a desafiar todos os obstáculos.</p>

                            <h3>Desenvolvimento das Habilidades:</h3>
                            <p>Ao longo de sua jornada, Luffy desenvolve habilidades de Haki, uma forma de energia
                                espiritual que lhe concede poderes especiais, incluindo a capacidade de prever o futuro
                                e enfrentar inimigos formidáveis.</p>

                            <h3>Épicas Batalhas e Crescimento:</h3>
                            <p>Luffy enfrenta inúmeros inimigos poderosos, incluindo piratas rivais, membros da Marinha
                                Mundial e figuras lendárias. À medida que amadurece, ele se torna mais forte, aprendendo
                                com suas experiências e buscando desafios cada vez maiores.</p>

                            <h3>Conclusão:</h3>
                            <p>Luffy é um personagem carismático que cativa os fãs com sua determinação, valores e
                                incríveis façanhas ao longo de sua jornada em "One Piece". Sua busca pelo One Piece é
                                uma das histórias mais emocionantes e duradouras da cultura pop, fazendo dele um
                                verdadeiro herói dos mares.</p>
                        </div>
                        <div v-if="personagem == 'Nami'" class="card-custom p-5 text-center">
                            <h2>Nami: A Navegadora Genial dos Piratas do Chapéu de Palha</h2>

                            <p>Nami é uma personagem essencial na série de anime e manga "One Piece" criada por Eiichiro
                                Oda. Como navegadora dos Piratas do Chapéu de Palha, Nami é conhecida por sua
                                inteligência e habilidades de navegação, além de sua busca pessoal por um mapa mundial
                                completo. Abaixo, destacamos as principais características dessa personagem cativante:
                            </p>

                            <h3>Navegadora Habilidosa:</h3>
                            <p>Nami é a navegadora oficial da tripulação e possui uma habilidade excepcional em
                                cartografia e navegação. Sua capacidade de ler e desenhar mapas é inestimável para os
                                Piratas do Chapéu de Palha.</p>

                            <h3>Objetivo Pessoal:</h3>
                            <p>A motivação central de Nami é mapear o mundo inteiro, de modo a criar o "Mapa Mundial
                                Perfeito". Esse desejo profundo está relacionado a um passado traumático em sua vida.
                            </p>

                            <h3>Amor pelo Dinheiro:</h3>
                            <p>Nami é notória por seu amor pelo dinheiro e sua tendência a criar esquemas para
                                enriquecer. No entanto, seu amor pelo tesouro muitas vezes é superado por seu
                                compromisso com a tripulação e seus amigos.</p>

                            <h3>Amizade e Lealdade:</h3>
                            <p>Nami desenvolve laços fortes com seus companheiros de tripulação, demonstrando sua
                                lealdade e disposição de enfrentar qualquer desafio para protegê-los.</p>

                            <h3>Habilidade em Combate:</h3>
                            <p>Além de suas habilidades de navegação, Nami é uma combatente habilidosa que utiliza um
                                bastão climático que pode criar uma variedade de ataques, controlar o clima e realizar
                                feitos surpreendentes.</p>

                            <h3>Conclusão:</h3>
                            <p>Nami é uma personagem multifacetada em "One Piece" que combina sua inteligência
                                excepcional com habilidades de navegação e coragem em combate. Sua busca pessoal e seu
                                amor pela tripulação dos Piratas do Chapéu de Palha tornam-na uma parte vital da equipe.
                                Ao enfrentar os perigos do Grande Mar, Nami continua a ser uma figura inspiradora,
                                trabalhando para traçar o mundo e superar desafios com determinação inabalável.</p>
                        </div>
                        <div v-if="personagem == 'Ussop'" class="card-custom p-5 text-center">
                            <h2>Usopp: O Atirador dos Piratas do Chapéu de Palha</h2>

                            <p>Usopp é um personagem carismático da popular série de anime e manga "One Piece" criada
                                por Eiichiro Oda. Conhecido por sua imaginação fértil, habilidades como atirador e, mais
                                importante, sua lealdade aos Piratas do Chapéu de Palha, Usopp é um membro inigualável
                                da tripulação. Abaixo, destacamos as principais características desse personagem:</p>

                            <h3>Mestre da Invenção:</h3>
                            <p>Usopp é um gênio inventor e sempre cria dispositivos engenhosos para ajudar a tripulação
                                em suas aventuras. Ele é especialmente conhecido por suas mentiras, que muitas vezes se
                                transformam em lendas verdadeiras.</p>

                            <h3>Atirador de Destreza:</h3>
                            <p>Usopp é o atirador da tripulação, habilidoso em usar uma variedade de armas, incluindo
                                seu estilingue e sua incrível precisão em combate. Suas táticas estratégicas e precisão
                                o tornam uma peça fundamental nas batalhas.</p>

                            <h3>Mentiras Épicas:</h3>
                            <p>Usopp é famoso por contar histórias exageradas, muitas vezes alegando feitos
                                inacreditáveis. No entanto, suas histórias exageradas são frequentemente a fonte de
                                inspiração e coragem para a tripulação.</p>

                            <h3>Coragem de um Bravateiro:</h3>
                            <p>Apesar de suas histórias exageradas, Usopp tem um coração valente e está disposto a
                                enfrentar perigos inimagináveis para proteger seus amigos e a tripulação dos Piratas do
                                Chapéu de Palha.</p>

                            <h3>Crescimento e Amizades:</h3>
                            <p>Usopp passa por um notável desenvolvimento ao longo da série, superando seus medos e
                                aumentando sua confiança. Ele também desenvolve laços fortes com seus companheiros de
                                tripulação.</p>

                            <h3>Conclusão:</h3>
                            <p>Usopp é um personagem único em "One Piece" que combina habilidades excepcionais com um
                                senso de aventura incrível. Sua criatividade, valentia e devoção à tripulação o tornam
                                um membro inestimável dos Piratas do Chapéu de Palha. Ao enfrentar desafios e inimigos
                                poderosos, Usopp continua a inspirar seus companheiros com suas histórias heróicas e seu
                                espírito destemido.</p>
                        </div>
                        <div v-if="personagem == 'Nico'" class="card-custom p-5 text-center">
                            <h2>Nico Robin: A Arqueóloga e Historiadora dos Piratas do Chapéu de Palha</h2>

                            <p>Nico Robin é uma personagem cativante da série de anime e manga "One Piece" criada por
                                Eiichiro Oda. Conhecida por suas habilidades como arqueóloga e historiadora, além de um
                                passado misterioso, Robin é uma parte essencial da tripulação dos Piratas do Chapéu de
                                Palha. Abaixo, destacamos as principais características dessa personagem intrigante:</p>

                            <h3>Historiadora e Arqueóloga Notável:</h3>
                            <p>Robin é uma arqueóloga habilidosa e uma pesquisadora de renome. Seu conhecimento profundo
                                sobre a história mundial e sua habilidade em decifrar Poneglyphs (pedras inscritas
                                antigas) são cruciais para a jornada da tripulação.</p>

                            <h3>Passado Sombrio:</h3>
                            <p>O passado de Robin é marcado por tragédia e perseguição. Ela é a única sobrevivente da
                                Ilha de Ohara, que foi destruída pela Marinha Mundial devido às informações que detinham
                                sobre os Poneglyphs.</p>

                            <h3>Reserva e Introspecção:</h3>
                            <p>Robin é muitas vezes reservada e introvertida, devido às dificuldades que enfrentou ao
                                longo de sua vida. No entanto, ela desenvolve laços fortes com seus companheiros de
                                tripulação.</p>

                            <h3>Poderes Frutos do Diabo:</h3>
                            <p>Robin comeu a Hana Hana no Mi, uma Fruta do Diabo que lhe permite criar braços e olhos em
                                qualquer superfície. Ela usa essa habilidade de forma criativa em combate.</p>

                            <h3>Lealdade à Tripulação:</h3>
                            <p>Apesar de sua natureza reservada, Robin é leal à tripulação dos Piratas do Chapéu de
                                Palha e está disposta a enfrentar inúmeros perigos para protegê-los.</p>

                            <h3>Conclusão:</h3>
                            <p>Nico Robin é uma personagem única em "One Piece", combinando conhecimento, força e
                                determinação. Sua busca por entender a história do mundo e sua luta contra os inimigos
                                que a perseguem acrescentam uma camada de complexidade à série. Como membro inestimável
                                dos Piratas do Chapéu de Palha, ela contribui significativamente para o sucesso da
                                tripulação enquanto desvenda os segredos do mundo.</p>
                        </div>
                        <div v-if="personagem == 'Zoro'" class="card-custom p-5 text-center">
                            <h2>Roronoa Zoro: O Espadachim Implacável dos Piratas do Chapéu de Palha</h2>

                            <p>Roronoa Zoro é um dos personagens centrais da série de anime e manga "One Piece", criada
                                por Eiichiro Oda. Ele é o espadachim principal dos Piratas do Chapéu de Palha e é
                                conhecido por suas habilidades de combate excepcionais e seu comprometimento inabalável.
                                Abaixo, destacamos as principais características desse personagem icônico:</p>

                            <h3>Habilidades de Espadachim de Nível Mundial:</h3>
                            <p>Zoro é um espadachim incrivelmente talentoso, conhecido por sua maestria em utilizar três
                                espadas simultaneamente. Ele segue um estilo de luta chamado "Santoryu", que envolve o
                                uso de três espadas, incluindo uma na boca. Sua força e destreza nas batalhas o tornam
                                um dos guerreiros mais poderosos do mundo de "One Piece".</p>

                            <h3>Compromisso com o "Sonho de Kuina":</h3>
                            <p>Zoro se tornou um espadachim para cumprir o sonho de sua amiga de infância, Kuina, que
                                almejava se tornar a melhor espadachim do mundo. Ele carrega a promessa de realizar esse
                                sonho em homenagem a ela.</p>

                            <h3>Senso de Direção Cômico:</h3>
                            <p>Zoro é notório por sua total falta de senso de direção. Ele frequentemente se perde,
                                mesmo em situações simples, o que leva a situações hilariantes enquanto a tripulação
                                navega pelo Grande Mar.</p>

                            <h3>Lealdade Inabalável à Tripulação:</h3>
                            <p>Apesar de sua personalidade tranquila e aparentemente indiferente, Zoro é leal e protetor
                                em relação aos seus companheiros de tripulação, especialmente ao capitão, Monkey D.
                                Luffy.</p>

                            <h3>Busca Pelo Forte:</h3>
                            <p>Zoro tem um desejo profundo de desafiar e derrotar os espadachins mais poderosos do
                                mundo. Ele se esforça constantemente para se tornar mais forte e aprimorar suas
                                habilidades.</p>

                            <h3>Conclusão:</h3>
                            <p>Roronoa Zoro é um personagem icônico em "One Piece" devido à sua impressionante
                                habilidade com a espada e seu comprometimento com seus amigos e objetivos. Sua busca
                                para se tornar o espadachim mais forte e sua lealdade à tripulação dos Piratas do Chapéu
                                de Palha são traços que o tornam um membro inestimável da equipe, enquanto enfrentam
                                inimigos poderosos e exploram os mistérios do mundo.</p>
                        </div>
                        <div v-if="personagem == 'Sanji'" class="card-custom p-5 text-center">
                            <h2>Sanji: O Cozinheiro-Guerreiro dos Piratas do Chapéu de Palha</h2>

                            <p>Sanji é um personagem fundamental na renomada série de anime e manga "One Piece" criada
                                por Eiichiro Oda. Conhecido por suas habilidades culinárias excepcionais e suas
                                impressionantes técnicas de combate, Sanji é um membro valioso dos Piratas do Chapéu de
                                Palha. Abaixo, destacamos as características marcantes desse personagem:</p>

                            <h3>Culinária com Paixão:</h3>
                            <p>Sanji é o cozinheiro oficial dos Piratas do Chapéu de Palha, e sua paixão pela culinária
                                é incomparável. Ele prepara refeições deliciosas que energizam e unem a tripulação,
                                tornando-o um elemento essencial para o bem-estar do grupo.</p>

                            <h3>Estilo de Combate Único:</h3>
                            <p>Sanji é um mestre das "Artes Marciais do Estilo Perna Negra". Ele combate exclusivamente
                                com os pés, utilizando movimentos poderosos e elegantes que o tornam um dos lutadores
                                mais habilidosos do mundo de "One Piece". Seus ataques são conhecidos por sua velocidade
                                e precisão.</p>

                            <h3>Um Gentleman e Mulherengo:</h3>
                            <p>Sanji é conhecido por seu cavalheirismo, sempre respeitando as mulheres e recusando-se a
                                lutar contra elas. No entanto, seu fraco por mulheres bonitas frequentemente o leva a
                                situações cômicas e complicadas.</p>

                            <h3>Passado Misterioso:</h3>
                            <p>O passado de Sanji é envolto em mistério, incluindo sua origem na misteriosa Germa 66,
                                uma organização de tecnologia avançada. A descoberta de suas origens é um ponto crucial
                                em sua jornada.</p>

                            <h3>Lealdade à Tripulação:</h3>
                            <p>Sanji é incrivelmente leal à tripulação dos Piratas do Chapéu de Palha e está disposto a
                                fazer qualquer coisa para proteger seus amigos, mesmo que isso signifique sacrificar
                                seus próprios desejos.</p>

                            <h3>Conclusão:</h3>
                            <p>Sanji é um personagem multifacetado que combina suas habilidades culinárias com uma força
                                de combate inigualável. Sua devoção à tripulação, seu estilo de luta distinto e seu ar
                                de cavalheiro o tornam um membro inestimável dos Piratas do Chapéu de Palha. A história
                                de Sanji continua a evoluir à medida que a tripulação navega pelo Grande Mar,
                                enfrentando desafios incríveis e desvendando segredos do mundo de "One Piece".</p>
                        </div>
                        <div v-if="personagem == 'Chopper'" class="card-custom p-5 text-center">
                            <h2>Tony Tony Chopper: O Médico Antropomórfico dos Piratas do Chapéu de Palha</h2>

                            <p>Tony Tony Chopper, muitas vezes chamado de Chopper, é um dos adoráveis e únicos
                                personagens da série "One Piece" criada por Eiichiro Oda. Ele é o médico da tripulação
                                dos Piratas do Chapéu de Palha e um membro valioso, graças à sua habilidade de se
                                transformar em várias formas. Abaixo, destacamos as principais características desse
                                personagem encantador:</p>

                            <h3>Fruto do Diabo e Transformações:</h3>
                            <p>Chopper comeu a Hito Hito no Mi, uma Fruta do Diabo que o transformou em um humano-rena.
                                Além disso, ele possui uma forma Monster Point, entre outras, que lhe permite variar em
                                tamanho e força, uma habilidade que se torna essencial em batalhas e situações de
                                emergência.</p>

                            <h3>Personalidade Carinhosa:</h3>
                            <p>Chopper é conhecido por seu coração gentil e natureza carinhosa. Ele se preocupa
                                profundamente com seus companheiros de tripulação e faz o possível para cuidar deles,
                                atuando como médico e provedor de apoio emocional.</p>

                            <h3>História de Superar a Solidão:</h3>
                            <p>Chopper tem uma história de vida marcada pela solidão, pois foi rejeitado por outros
                                humanos e rena por causa de sua aparência. Sua jornada com os Piratas do Chapéu de Palha
                                o ajudou a superar essa solidão.</p>

                            <h3>Especialização Médica:</h3>
                            <p>Chopper é um médico excepcional que se esforça para aprimorar suas habilidades médicas.
                                Ele é responsável por cuidar da saúde da tripulação e tratar ferimentos graves.</p>

                            <h3>Amizade com Outros Animais:</h3>
                            <p>Chopper tem a capacidade de se comunicar e fazer amizade com diversos animais, o que se
                                revela útil durante as aventuras dos Piratas do Chapéu de Palha.</p>

                            <h3>Conclusão:</h3>
                            <p>Tony Tony Chopper é um personagem adorável e fundamental em "One Piece", com sua
                                capacidade de se transformar, habilidades médicas e coração bondoso. Sua jornada de
                                superar a solidão e encontrar uma família com os Piratas do Chapéu de Palha é uma parte
                                emocionante da narrativa. Chopper representa a importância da amizade, compreensão e
                                superação de desafios pessoais no mundo de "One Piece".</p>
                        </div>
                        <div v-if="personagem == 'Brook'" class="card-custom p-5 text-center">
                            <h2>Brook: O Esqueleto Músico dos Piratas do Chapéu de Palha</h2>

                            <p>Brook é um personagem único e icônico na série de anime e manga "One Piece" criada por
                                Eiichiro Oda. Ele é o músico e espadachim dos Piratas do Chapéu de Palha e é conhecido
                                por sua aparência esquelética e sua personalidade alegre. Abaixo, destacamos as
                                principais características desse personagem incomum:</p>

                            <h3>Ressurreição como Esqueleto Vivo:</h3>
                            <p>Brook comeu a Yomi Yomi no Mi, uma Fruta do Diabo que lhe permitiu voltar à vida após a
                                morte. No entanto, seu corpo se transformou em um esqueleto vivo, concedendo-lhe
                                habilidades sobrenaturais.</p>

                            <h3>Espadachim Habilidoso:</h3>
                            <p>Brook é um espadachim talentoso que empunha a espada chamada "Soul Solid". Sua técnica de
                                luta, "Three-Sword Style", é semelhante à de Roronoa Zoro, usando três espadas para
                                combater.</p>

                            <h3>Paixão pela Música:</h3>
                            <p>Além de suas habilidades de combate, Brook é um músico talentoso que toca o violino e
                                canta. Sua música é uma fonte de alegria para a tripulação e desempenha um papel
                                importante em sua história.</p>

                            <h3>Senso de Humor e Jovialidade:</h3>
                            <p>Brook é conhecido por seu senso de humor e sua personalidade jovial. Ele frequentemente
                                faz piadas e trocadilhos, o que adiciona um toque cômico à tripulação.</p>

                            <h3>O Passado de Brook:</h3>
                            <p>Brook tem uma história de tragédia pessoal, tendo sido separado de sua tripulação
                                original há muitos anos. Sua jornada em busca de amigos e a realização de uma promessa
                                não cumprida fazem parte de sua narrativa.</p>

                            <h3>Conclusão:</h3>
                            <p>Brook é um personagem singular em "One Piece" devido à sua aparência esquelética,
                                habilidades sobrenaturais e paixão pela música. Sua atitude positiva, senso de humor e
                                disposição para proteger seus amigos tornam-no um membro inestimável dos Piratas do
                                Chapéu de Palha. Sua história de superar a solidão e encontrar uma nova família é uma
                                parte emocionante do mundo de "One Piece".</p>
                        </div>
                        <span v-if="personagem == 'Franky'" class="card-custom p-5 text-center">
                            <h2>Franky: O Engenheiro Cibernético dos Piratas do Chapéu de Palha</h2>

                            <p>Franky é um personagem carismático da série de anime e manga "One Piece" criada por
                                Eiichiro Oda. Ele é o engenheiro e construtor dos Piratas do Chapéu de Palha e é
                                conhecido por suas habilidades mecânicas, personalidade extravagante e a capacidade de
                                se transformar em um ciborgue. Abaixo, destacamos as principais características desse
                                personagem marcante:</p>

                            <h3>Engenharia Mecânica de Ponta:</h3>
                            <p>Franky é um gênio da engenharia e é responsável pela construção e manutenção do Thousand
                                Sunny, o navio dos Piratas do Chapéu de Palha. Ele também é mestre em criar dispositivos
                                mecânicos surpreendentes.</p>

                            <h3>Transformação em Ciborgue:</h3>
                            <p>Após sofrer lesões graves, Franky se transformou em um ciborgue, aprimorando seu corpo
                                com várias inovações tecnológicas. Isso lhe concedeu força sobre-humana, resistência e
                                uma variedade de armas integradas em seu corpo.</p>

                            <h3>Personalidade Excêntrica:</h3>
                            <p>Franky é conhecido por sua personalidade extravagante e confiante. Ele é apaixonado por
                                coisas como bebidas energéticas "Cola-Cola" e tem um jeito único de expressar sua
                                alegria e emoção.</p>

                            <h3>Lealdade à Tripulação:</h3>
                            <p>Apesar de sua aparência e personalidade peculiares, Franky é um membro leal e protetor da
                                tripulação dos Piratas do Chapéu de Palha. Ele fará qualquer coisa para proteger seus
                                amigos e o navio.</p>

                            <h3>Relação com a família Franky:</h3>
                            <p>Franky tem uma história pessoal complexa, incluindo seu passado como membro da família
                                Franky, uma gangue de bandidos do mar. Sua jornada de redenção e seu relacionamento com
                                seu criador, o Dr. Vegapunk, são parte fundamental de sua narrativa.</p>

                            <h3>Conclusão:</h3>
                            <p>Franky é um personagem icônico em "One Piece" devido às suas habilidades mecânicas,
                                personalidade extravagante e lealdade à tripulação. Sua capacidade de construir e
                                consertar praticamente qualquer coisa e sua transformação em ciborgue o tornam um membro
                                inestimável dos Piratas do Chapéu de Palha. Sua história pessoal de superação e redenção
                                é uma parte importante da narrativa, adicionando profundidade ao seu personagem.</p>
                        </span>
                        <span v-if="personagem == 'Jinbei'" class="card-custom p-5 text-center">
                            <h2>Jinbei: O Pescador do Sol e Estrategista dos Piratas do Chapéu de Palha</h2>

                            <p>Jinbei é um personagem marcante na série de anime e manga "One Piece" criada por Eiichiro
                                Oda. Ele é um pescador do Sol, um peixe-homem, e um membro valioso dos Piratas do Chapéu
                                de Palha, conhecido por sua força, sabedoria e lealdade. Abaixo, destacamos as
                                principais características desse personagem impactante:</p>

                            <h3>Habilidades de Peixe-Homem:</h3>
                            <p>Jinbei é um peixe-homem, uma raça de seres aquáticos, que lhe concede habilidades
                                aquáticas excepcionais. Ele é um mestre em artes marciais baseadas na água e possui uma
                                incrível força e resistência.</p>

                            <h3>Mestre em Karatê Pescador:</h3>
                            <p>Jinbei é um praticante habilidoso do "Karatê Pescador", um estilo de luta que usa a água
                                como arma. Suas técnicas de luta são impressionantes e ele usa sua maestria para
                                proteger a tripulação.</p>

                            <h3>Inteligência e Estratégia:</h3>
                            <p>Jinbei é conhecido por sua sabedoria e habilidades estratégicas. Ele frequentemente
                                oferece conselhos sensatos e é um tomador de decisões ponderado na tripulação.</p>

                            <h3>Relação com o Passado:</h3>
                            <p>Jinbei tem uma história complexa e uma relação anterior com outros personagens
                                importantes em "One Piece", como o ex-Shichibukai Crocodile e o Yonkou Big Mom. Esses
                                relacionamentos influenciam sua jornada e sua busca por justiça e igualdade.</p>

                            <h3>Lealdade à Tripulação:</h3>
                            <p>Jinbei é extremamente leal à tripulação dos Piratas do Chapéu de Palha e está disposto a
                                arriscar sua vida para proteger seus amigos e companheiros de tripulação.</p>

                            <h3>Conclusão:</h3>
                            <p>Jinbei é um personagem notável em "One Piece", devido à sua força, inteligência e
                                comprometimento com a tripulação. Sua habilidade única como peixe-homem, sua capacidade
                                de usar o Karatê Pescador e sua contribuição para a equipe o tornam um membro
                                inestimável dos Piratas do Chapéu de Palha. Sua jornada em busca de justiça e igualdade
                                adiciona profundidade à narrativa e ao seu caráter.</p>
                        </span>


                    </div>
                </div>
            </div>




        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>


    </body>

</html>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                luffy: 'Luffy',
                nami: 'Nami',
                zoro: 'Zoro',
                usopp: 'Ussop',
                robin: 'Nico',
                sanji: 'Sanji',
                chopper: 'Chopper',
                franky: 'Franky',
                brook: 'Brook',
                jinbei: 'Jinbei',
                personagem: 'preto',
            };
        },
        methods: {
            personagemSelecionado(escolhido) {
                this.personagem = escolhido;
            },
            semPersonagem() {
                this.personagem = 'preto';
            }
        }
    });
</script>
<style scoped>
    body {
        background-color: black;
        overflow-x: hidden;

    }

    .photo {
        width: 50vh;
        height: 80vh;
    }



    .personagem:hover {
        background-color: #225588;
        /* Cor de fundo quando o mouse está sobre o elemento */
    }

    .card-custom {
        margin-right: 20%;
        background-color: white;
        border-radius: 2%;
        box-shadow:  3px 3px 3px white;
    }

    .responsive-container {
        display: flex;
        flex-wrap: wrap;
    }

    .responsive-container p {
        flex: 1;
        margin: 5px;
    }

    @media (max-width: 768px) {
        .imagem {
            width: auto;
            height: 60%;
        }

        .card-custom {
            margin-right: 0%;
            background-color: white;
            border-radius: 2%;
            box-shadow:  1px 2px 3px white;
        }
    }
</style>